html,
body,
p {
  line-height: 1.4;
}
html,
body {
  overflow-x: hidden;
}

@media (max-width: 900px) {
  p,
  a,
  button,
  span {
    line-height: 1.3;
  }
  #buttonLink a {
    line-height: 1.1;
    padding: 20px !important;
  }
}

h2 {
  color: stencilColor("color-textHeading");

  font-size: 54px;
  font-size: clamp(1.8rem, 54px, 10vw);

  @media (max-width: 700px) {
    font-size: 36px;
  }
  font-weight: 500;
  line-height: 1.2;
}
h3.subtitle {
  font-size: 34px;
  font-weight: 300;
  margin: 0;

  @include breakpoint("medium") {
    font-size: 44px;
  }
}

.underline-pink {
  position: relative;
  margin-bottom: 64px;
  text-align: center;

  &.text-left {
    text-align: left;
    &:after {
      left: 0;
      right: auto;
    }
  }
}

.underline-pink:after {
  position: absolute;
  content: "";
  display: block;
  width: 40px;
  height: 5px;
  background-color: #ef658a;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -48px;
  border-radius: 2px;
}

.button--primary:hover {
  background: stencilColor("color-primary");
  border-color: stencilColor("color-primary");
}
