{{#if theme_settings.show_product_quantity_box}} {{inject
'productQuantityErrorMessage' (lang 'products.quantity_error_message')}}
<div class="form-field form-field--increments">
  <label class="form-label form-label--alternate" for="qty[]"
    >{{lang 'products.quantity'}}</label
  >
  <div class="form-increment" data-quantity-change>
    <button class="button button--icon" data-action="dec">
      <span class="is-srOnly"
        >{{lang 'products.quantity_decrease' name=product.title}}</span
      >
      <i class="icon" aria-hidden="true">
        <svg>
          <use xlink:href="#icon-keyboard-arrow-down" />
        </svg>
      </i>
    </button>
    <input
      class="form-input form-input--incrementTotal"
      id="qty[]"
      name="qty[]"
      type="tel"
      value="{{#if product.min_purchase_quantity}}{{product.min_purchase_quantity}}{{else}}1{{/if}}"
      data-quantity-min="{{product.min_purchase_quantity}}"
      data-quantity-max="{{product.max_purchase_quantity}}"
      min="1"
      pattern="[0-9]*"
      aria-live="polite"
    />
    <button class="button button--icon" data-action="inc">
      <span class="is-srOnly"
        >{{lang 'products.quantity_increase' name=product.title}}</span
      >
      <i class="icon" aria-hidden="true">
        <svg>
          <use xlink:href="#icon-keyboard-arrow-up" />
        </svg>
      </i>
    </button>
  </div>
</div>
{{/if}}
